POTCAR
*.pb
*.bk
*~
*.d
*.o
*.aux
*.dvi
*.pdf
*.so
*.bin
*.intbin
*.meta
*.log
*.bz2
*.pyc
\#*
iter.*
topol.tpr
mdout.mdp
traj*xtc
traj.trr
ener.edr
state*cpt
CMakeCache.txt
CMakeFiles
*.pb
log.lammps
restart.*
dump.*
*.out
build
dist
dpgen2.egg-info
*/*.pyc
*/__pycache__
*.swp
.eggs
.coverage
dbconfig.json
.vscode/*
.idea/*
_build
dpgen2/_version.py
*.egg-info
*.lammps
*.svg
*.dump
*.npy
*.yaml
*.jpg
*.gif
*.lmp 

tutorial/vasp.ipynb

deepmdem/multem/crystal
deepmdem/vasp
deepmdem/phonon/vasp_phonon.py
deepmdem/multem/run_scattering.py
deepmdem/workflow/
tutorial/AgAu_coreshell
tutorial/Al_edge_dislocation
tutorial/bulk_Al
tutorial/Cu_particle
tutorial/old_plot
tutorial/plot
tutorial/VaspOpt
tutorial/*.png
*.Dockerfile
tutorial/dflow-md-local.ipynb
tutorial/dflow-multem.ipynb
tutorial/dflow-md-hpc.ipynb
